body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: #e2e2e2;
}
.banner-column{
    background-color: #928d8d;
}
.navbar-container{
    background-color: #212529;
}
.about-container{
    background-color: rgb(36, 200, 206);
}